<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        html,body{
            width: 100vw;
            height: 100vh;
            background-color: #202020;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: large;
            color: aliceblue;
        }
    
    </style>
</head>
<body>
    <main>
        <p><%=comment.id%></p>
        <h2>Edit Your Response.</h2>
        <form action="/comments/<%=id%>">
            <section>
                <labe id="updatedComment"l  for="">Update:</labe>
                <input  type="textarea" aria-details="<%= comment.content%>">
            </section>
        </form>
    </main>
</body>
</html>