<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      html,
      body {
        width: 100vw;
        height: 100vh;
        background-color: #202020;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: large;
        color: aliceblue;
      }
    </style>
  </head>
  <body>
    <main>
      <h2>Edit Comment</h2>
      <form action="/comments/<%= comment.id %>?_method=PATCH" method="POST">
        <section>
          <label for="content">Update Content:</label>
          <textarea id="content" name="content">
<%= comment.content %></textarea
          >
        </section>
        <button type="submit">Update</button>
      </form>
    </main>
  </body>
</html>
