<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
        html,
        body {
          width: 100vw;
          height: 100vh;
          background-color: #202020;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: large;
          color: aliceblue;
        }
      </style>
</head>
<body>
    <form action="/comment/update" method="POST">
        <section>
            <label for="id">ID:</label>
        <input type="text" name="id" id="id">
    </section>
    <section>
        <label for="newComment">Update:</label>
        <input type="textarea" name="newComment" id="newComment">
    </section>
    <button type="submit">Submit</button>
</form>
</body>
</html>