<!DOCTYPE html>
<html>
<head>
    <title>Flash Messages</title>
</head>
<body>
    <% if(success_msg && success_msg.length > 0) { %>
        <div style="color: green">
            <%= success_msg %>
        </div>
    <% } %>

    <% if(error_msg && error_msg.length > 0) { %>
        <div style="color: red">
            <%= error_msg %>
        </div>
    <% } %>

    <p>Session Value: <%= sessionData %></p>
</body>
</html>